body {
    overflow: hidden;
    scroll-behavior: no;
}
.main {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
}
#p1 {
    position: absolute;
    font-size: 35.9px;
    top: 435px;
    left: 527px;
    width: 201px;
    height: 65px;
    text-align: center;
    border: solid 3px #727272;
    color: #727272;
}
#p2 {
    position: absolute;
    font-size: 35.9px;
    top: 565.1px;
    left: 566px;
    width: 122px;
    height: 65px;
    text-align: center;
    border: solid 3px #727272;
    color: #727272;
}
#p3 {
    position: absolute;
    font-size: 35.9px;
    top: 695.8px;
    left: 566px;
    width: 122px;
    height: 65px;
    text-align: center;
    border: solid 3px #727272;
    color: #727272;
}
#p4 {
    position: absolute;
    font-size: 35.9px;
    top: 826.8px;
    left: 488.6px;
    width: 276px;
    height: 65px;
    text-align: center;
    border: solid 3px #727272;
    color: #727272;
}
#p5 {
    position: absolute;
    font-size: 35.9px;
    top: 435.5px;
    right: 581.8px;
    width: 89px;
    height: 65px;
    text-align: center;
    border: solid 3px #727272;
    color: #727272;
}
#p6 {
    position: absolute;
    font-size: 35.9px;
    top: 565.2px;
    right: 564.5px;
    width: 124px;
    height: 65px;
    text-align: center;
    border: solid 3px #727272;
    color: #727272;
}
#p7 {
    position: absolute;
    font-size: 35.9px;
    top: 696.2px;
    right: 581.8px;
    width: 89px;
    height: 65px;
    text-align: center;
    border: solid 3px #727272;
    color: #727272;
}
#p8 {
    position: absolute;
    font-size: 35.9px;
    top: 827px;
    right: 493.7px;
    width: 267px;
    height: 65px;
    text-align: center;
    border: solid 3px #727272;
    color: #727272;
}
.p_style {
    font-family: rixmmjse-pro, serif; 
    font-weight: 300; 
    font-style: normal;
    color: #999999;
}

@media ( min-width: 2560px ) {
    #p1 {
        top: 580px;
        left: 702.7px;
        width: 268px;
        height: 88px;
    }
    #p2 {
        top: 753.5px;
        left: 754.7px;
        width: 162.7px;
        height: 88px;
    }
    #p3 {
        top: 927.7px;
        left: 754.7px;
        width: 162.7px;
        height: 88px;
    }
    #p4 {
        top: 1102.4px;
        left: 651.5px;
        width: 368px;
        height: 88px;
    }
    #p5 {
        top: 580.7px;
        right: 775.7px;
        width: 118.7px;
        height: 88px;
    }
    #p6 {
        top: 753.6px;
        right: 752.7px;
        width: 165.3px;
        height: 88px;
    }
    #p7 {
        top: 928.3px;
        right: 775.7px;
        width: 118.7px;
        height: 88px;
    }
    #p8 {
        top: 1102.7px;
        right: 658.3px;
        width: 356px;
        height: 88px;
    } 
}