body {
    overflow: hidden;
    scroll-behavior: no;
}
.main {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
}
#p1 {
    position: absolute;
    font-size: 35.9px;
    top: 350.6px;
    left: 788px;
    width: 344px;
    height: 65px;
    text-align: center;
    border: solid 3px #333333;
    color: #727272;
}
#p2 {
    position: absolute;
    font-size: 35.9px;
    top: 448.6px;
    left: 827px;
    width: 266px;
    height: 65px;
    text-align: center;
    border: solid 3px #333333;
    color: #727272;
}
#p3 {
    position: absolute;
    font-size: 35.9px;
    top: 546.6px;
    left: 810px;
    width: 300px;
    height: 65px;
    text-align: center;
    border: solid 3px #333333;
    color: #727272;
}
#p4 {
    position: absolute;
    font-size: 35.9px;
    top: 644.9px;
    left: 771px;
    width: 378px;
    height: 65px;
    text-align: center;
    border: solid 3px #333333;
    color: #727272;
}
#p5 {
    position: absolute;
    font-size: 35.9px;
    top: 742.9px;
    left: 754px;
    width: 412px;
    height: 65px;
    text-align: center;
    border: solid 3px #333333;
    color: #727272;
}
#p6 {
    position: absolute;
    font-size: 35.9px;
    top: 840.9px;
    left: 766px;
    width: 388px;
    height: 65px;
    text-align: center;
    border: solid 3px #333333;
    color: #727272;
}
.p_style {
    font-family: rixmmjse-pro, serif; 
    font-weight: 300; 
    font-style: normal;
    color: #999999;
}

@media ( min-width: 2560px ) {
    #p1 {
        top: 467.5px;
        left: 1050.7px;
        width: 458.7px;
        height: 88px;
    }
    #p2 {
        top: 598.1px;
        left: 1102.7px;
        width: 354.7px;
        height: 88px;
    }
    #p3 {
        top: 728.8px;
        left: 1080px;
        width: 400px;
        height: 88px;
    }
    #p4 {
        top: 859.9px;
        left: 1028px;
        width: 504px;
        height: 88px;
    }
    #p5 {
        top: 990.5px;
        left: 1005.3px;
        width: 549.3px;
        height: 88px;
    }
    #p6 {
        top: 1121.2px;
        left: 1021.3px;
        width: 517.3px;
        height: 88px;
    }
}