body {
    overflow: hidden;
    scroll-behavior: no;
}
.main {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
}
#p1 {
    position: absolute;
    font-size: 35.9px;
    top: 436.4px;
    left: 521.9px;
    width: 210px;
    height: 65px;
    text-align: center;
    border: solid 3px #727272;
    color: #727272;
}
#p2 {
    position: absolute;
    font-size: 35.9px;
    top: 567.1px;
    left: 493.8px;
    width: 266px;
    height: 65px;
    text-align: center;
    border: solid 3px #727272;
    color: #727272;
}
#p3 {
    position: absolute;
    font-size: 35.9px;
    top: 699.2px;
    left: 527.9px;
    width: 200px;
    height: 65px;
    text-align: center;
    border: solid 3px #727272;
    color: #727272;
}
#p4 {
    position: absolute;
    font-size: 35.9px;
    top: 831.9px;
    left: 488.7px;
    width: 277px;
    height: 65px;
    text-align: center;
    border: solid 3px #727272;
    color: #727272;
}
#p5 {
    position: absolute;
    font-size: 35.9px;
    top: 438.1px;
    right: 509px;
    width: 233px;
    height: 65px;
    text-align: center;
    border: solid 3px #727272;
    color: #727272;
}
#p6 {
    position: absolute;
    font-size: 35.9px;
    top: 567.5px;
    right: 524.1px;
    width: 201px;
    height: 65px;
    text-align: center;
    border: solid 3px #727272;
    color: #727272;
}
#p7 {
    position: absolute;
    font-size: 35.9px;
    top: 700.11px;
    right: 487.9px;
    width: 277px;
    height: 65px;
    text-align: center;
    border: solid 3px #727272;
    color: #727272;
}
#p8 {
    position: absolute;
    font-size: 35.9px;
    top: 831.3px;
    right: 449px;
    width: 354px;
    height: 65px;
    text-align: center;
    border: solid 3px #727272;
    color: #727272;
}
.p_style {
    font-family: rixmmjse-pro, serif; 
    font-weight: 300; 
    font-style: normal;
    color: #999999;
}

@media ( min-width: 2560px ) {
    #p1 {
        top: 581.9px;
        left: 695.9px;
        width: 280px;
        height: 88px;
    }
    #p2 {
        top: 756.1px;
        left: 658.4px;
        width: 354.7px;
        height: 87px;
    }
    #p3 {
        top: 932.3px;
        left: 703.9px;
        width: 266.7px;
        height: 88px;
    }
    #p4 {
        top: 1109.2px;
        left: 651.6px;
        width: 369.3px;
        height: 88px;
    }
    #p5 {
        top: 584.1px;
        right: 678.7px;
        width: 310.7px;
        height: 88px;
    }
    #p6 {
        top: 756.7px;
        right: 698.8px;
        width: 268px;
        height: 88px;
    }
    #p7 {
        top: 933.48px;
        right: 650.5px;
        width: 369.3px;
        height: 88px;
    }
    #p8 {
        top: 1108.4px;
        right: 598.7px;
        width: 472px;
        height: 88px;
    }
}